<section class="form-container">
  <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()" id="create-account" class="form">
    <fieldset class="fieldset">
      <legend class="legend">Create account</legend>
      <!-- <span class="error-message"></span> -->
      <label class="label" for="name"> Name:
        <input class="input" type="text" id="name" placeholder="Your name.." formControlName="name">
      </label>
      <!-- <span class="error-message"></span> -->
      <label class="label" for="email"> Email:
        <input class="input" type="text" id="email" placeholder="Your email.." formControlName="email">
      </label>
      <!-- <span class="error-message"></span> -->
      <label class="label" for="password"> Password:
        <input class="input" type="password" id="password" placeholder="A secret password.." formControlName="password">
      </label>
    </fieldset>
    <button class="btn" type="submit">To space!</button>
  </form>
  <a class="redirect-link" [routerLink]="'/login'">I already have an account</a>
</section>