@import '../../../styles.scss';

$menuHeight: 60px;

/*-------------------------- HEADER ------------------------*/
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
  }
  
.line {
  display: none;

  @media all and (min-width: $desktopBreakpoint) {
    background: $white;
    display: inline;
    height: 1px;
    left: 167px;
    mix-blend-mode: normal;
    opacity: 0.25;
    position: absolute;
    top: 70px;
    width: 473px;
    z-index: 2;
  }
}

.img-logo {
  height: 40px;
  margin: $spacing-sm;
  width: 40px;

    @media all and (min-width: $tabletBreakpoint) {
        height: 48px;
        margin-top: $spacing-md;
        width: 48px;
    }

    @media all and (min-width: $desktopBreakpoint) {
      margin: 2.5rem;
    }
}

.nav-container {
  &--list {
    display: flex;
    flex-direction: column;
    margin: 0;

    .burger {
      cursor: pointer;
      display: none;
      left: 85%;
      padding: 0 10px;
      position: absolute;
      z-index: 1;
  
      @media (max-width: $tabletBreakpoint) {
        display: block;
      }
    }

    .menu {
      backdrop-filter: blur(15px);
      background: rgba(151,151,151,0.3);
      display: none;
      flex-direction: column;
      height: 100vh;

      &__item {
        color: #fff;
        cursor: pointer;
        display: block;
        font-family: $barlowCondensed;
        font-size: $font-size-sm;
        font-size: $font-size-base;
        height: $menuHeight;
        letter-spacing: 2.36px;
        line-height: $menuHeight;
        padding: 0 40px;
        text-decoration: none;
        text-transform: uppercase;

        &:first-child {
          margin-top: 120px;
        }
      
        &--index {
          font-weight: bold;
          margin-right: 5px;
          @media all and (min-width: $desktopBreakpoint) {
            display: inline;
          }
        }
      }

      @media all and (min-width: $tabletBreakpoint) {
        align-items: center;
        backdrop-filter: none;
        background: none;
        display: flex;
        flex-direction: row;
        height: 10vh;
        justify-content: space-evenly;

        &__item {
          padding: 0 15px;

          &:first-child {
            margin-top: 0;
          }
        }
      }

      @media all and (min-width: $desktopBreakpoint) {
        height: 15vh;
      }
    }

    .menu-open {
      display: flex;
      position: absolute;
      right: 0;
      top: 0; /* Posiciona el menú debajo del header */
    }
  }

  mat-icon{
    color: $white;
    margin-top: 20px;
  }

  @media all and (min-width: $tabletBreakpoint) {
      box-sizing: border-box;
      height: 96px;
      background-color: rgba(255,255,255,0.1);
      backdrop-filter: blur(15px);
      width: auto;
  }

  @media all and (min-width: $desktopBreakpoint) {
      margin-right: 0;
      margin-top: 20px;
      width: 750px;
  }
}

  // .active{
  //   border-bottom: 2px solid white;
  // }