@import '../../../styles.scss';
$menuHeight: 60px;
$menuBreakpoint: 767px;
/*-------------------------- HEADER ------------------------*/
.header {
  @media (min-width: $menuBreakpoint) {
    height: 10vh;
  }
}
  
.rectangle-large {
  display: none;

  @media all and (min-width: 1024px){
    background: #FFFFFF;
    display: inline;
    height: 1px;
    left: 167px;
    mix-blend-mode: normal;
    opacity: 0.25;
    position: absolute;
    top: 70px;
    width: 473px;
    z-index: 2;
  }
}

.img--logo{
  height: 40px;
  margin: 1rem;
  width: 40px;

    @media all and (min-width: 768px){
        height: 48px;
        width: 48px;
    }

    @media all and (min-width:1024px){
        margin: 2.5rem;
    }  
}

.nav__container {

  margin: 0;

  &--list {
    margin: 0;
    padding: 0;
    
  //   @media (max-width: $menuBreakpoint) {
  //     background: none;
  //   }
    
  //   @media all and (min-width: 768px) {
  //     padding: 10px;
  //   }
  // }

  // @media all and (min-width:1024px) {
  //   margin: 1rem;
  // }

// mat-icon{
//   color: #fff;
//   margin-top: 20px;
// }

.burger {
    background: rgba(151,151,151,0.3);
    color: white;
    cursor: pointer;
    font-size: 24px;
    display: none;
    padding: 0 10px;

  &__button {
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    font: inherit;
    left: 80%;
    outline: inherit;
    padding: 0;
    position: relative;
  }

    @media (max-width: $menuBreakpoint) {
      display: block;
    }
}

  // @media all and (min-width: 768px){
  //     align-items: center;
  //     backdrop-filter: blur(15px);
  //     background-color: rgba(255,255,255,0.1);
  //     box-sizing: border-box;
  //     display: flex;
  //     flex-direction: row;
  //     height: 96px;
  //     justify-content: space-evenly;
  //     width: 450px;
  // }

  // @media all and (min-width:1024px){
  //     margin-right: 0;
  //     margin-top: 20px;
  //     width: 750px;
  // } 
}
  
.menu {
    background: rgba(151,151,151,0.3);
    //display: none;
    height: 100vh;
   padding: 0 10px;

    &__item {
      color: #fff;
      cursor: pointer;
      display: flex;
      font-family: $barlowCondensed;
      font-size: 0.875rem;
      font-size: 1rem;
      height: $menuHeight;
      letter-spacing: 2.36px;
      line-height: $menuHeight;
      // padding: 0 10px;
      text-decoration: none;
      text-transform: uppercase;

      &--index {
        font-weight: bold;
        margin-right: 5px;
  
        // @media all and (min-width:1024px){
        //   display: inline;
        // }
      }
    }

  @media (min-width: $menuBreakpoint) {
    display: flex;
    height: 10vh;
    padding: 0;
    // &--open {
    //   backdrop-filter: blur(15px);
    //   background: rgba(151,151,151,0.3);
    //   display: block;
    //   height: 100%;
    //   position: absolute;
    //   top: #{$menuHeight};
    //   width: 70%;
    // }
  }

  @media all and (min-width:1024px) {
    width: 800px;

    &__item {
      margin-left: 30px;
    }
  }
}

.active{
  border-bottom: 2px solid white;
}

}