<header class="header">
  <div class="line"></div>
  <img src="../../../assets/images/logo.svg" class="img-logo" alt="logo" />
  <!--El rectángulo se mueve en función de en que parte del menú te encuentres en la página, que se hará con JS-->
  <div class="rectangle"></div>
  <nav class="nav-container">
    <ul class="nav-container--list underline">
      <li class="burger" (click)="toggleMenu()">
        <mat-icon>{{ isMenuOpen ? "close" : "menu" }}</mat-icon>
      </li>
      <li class="menu" [ngClass]="{'menu-open': isMenuOpen}">
        @for (item of menuItems; track $index) {
          <a class="menu__item" [routerLink]="[item.route]">
            <span class="menu__item--index">{{ item.index }}</span>
            <span class="menu__item--name">{{ item.name }}</span>
          </a>
        }
      </li>
    </ul>
  </nav>
</header>

<router-outlet></router-outlet>