<article class="technology-container">
    <h4 class="technology-container__title">
      <span class="elment-number">03</span> Space launch 101
    </h4>
    <div class="desktop-test">
      <div class="div-img">
        <img
          class="img-vehicle"
          src="{{currentTechnology.imagePortraitUrl}}"
          alt="launching vehicle"
        />
      </div>
      <div class="technology-container__information">
        <div class="container-btns">
          @for (technology of technology; track $index) {
            <button
            (click)="selectTechnology(technology)"
            class="container-btns__btn"
          >
            {{ $index + 1 }}
          </button>
          }
        </div>
        <div class="information-container">
          <p class="information-container__title">The terminology...</p>
          <h5 class="information-container__technology-name">{{currentTechnology.name}}</h5>
          <p class="information-container__description">{{currentTechnology.description}}</p>
        </div>
      </div>
    </div>
    <!-- cuando esta en uno de los planetas el color del texto es blanco y del resto es morado -->
  </article>