 <!--INICIAR SESIÓN-->
 <section class="form-container">
  <form action="" id="login" method="post" class="form | js-form">
    <fieldset class="border p-4 fieldset-container">
      <legend class="legend">Log in</legend>
      <span class="error-message | js-email-err"></span>
      <label for="email">
        <input class="input | js-email" type="text" id="email" placeholder="Your email..">
      </label>
      <span class="error-message | js-pass-err"></span>
      <label for="password">
        <input class="input | js-password" type="password" id="password" placeholder="A secret password..">
      </label>
    </fieldset>
    <button class="btn | js-submit" type="button">To space!</button>
  </form>
</section>
