 <!--INICIAR SESIÓN-->
 <section class="form-container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()"  id="login" method="post" class="form">
    <fieldset class="border p-4 fieldset-container">
      <legend class="legend">Log in</legend>
      <!-- @if (loginForm.controls['email'].errors?.['required'] && loginForm.controls['password'].errors?.['required']) {
        <span class="error-message">Please fill in your email</span>
      } -->
      <label for="email">
        <input class="input" type="text" id="email" placeholder="Your email.." formControlName="email">
      </label>
      <!-- @if (loginForm.controls['email'].errors?.['required'] && loginForm.controls['password'].errors?.['required']) {
        <span class="error-message">Please fill in a correct password</span>
      } -->
      <label for="password">
        <input class="input" type="password" id="password" placeholder="A secret password.." formControlName="password">
      </label>
    </fieldset>
    <button class="btn" type="submit">To space!</button>
  </form>
</section>
