<section class="form-container">
  <form action="" id="create-account" method="post" class="form | js-form">
    <fieldset class="fieldset">
      <legend class="legend">Your information</legend>
      <span class="error-message | js-first-name-err"></span>
      <label for="name">
        <input class="input | js-first-name" type="text" id="name" placeholder="Your name..">
      </label>
      <span class="error-message | js-email-err"></span>
      <label for="email">
        <input class="input | js-email" type="text" id="email" placeholder="Your email..">
      </label>
      <span class="error-message | js-pass-err"></span>
      <label for="password">
        <input class="input | js-password" type="password" id="password" placeholder="A secret password..">
      </label>
    </fieldset>
    <button class="btn | js-submit" type="submit">To space!</button>
  </form>
  <a class="redirect-link" href="#login">I already have an account</a>
</section>