/* You can add global styles to this file, and also import other style files */
/* *************************************** Variables *************************************** */
// fonts
$bellefair: 'Bellefair', serif;
$barlowCondensed: 'Barlow Condensed', sans-serif;
$zen: 'Zen Antique', serif;

// font sizes
$font-size-xs: .75rem; // 12px
$font-size-sm: .875rem; // 14px
$font-size-base: 1rem;
$font-size-md: 1.125rem; // 18px
$font-size-lg: 1.25rem; // 20px
$font-size-xl: 1.5rem; // 24px

// line height
$line-height: 32px;

// font weight
$font-weight-light: 100;

// spacing
$spacing-xs: 8px;
$spacing-sm: 16px;
$spacing-md: 24px;
$spacing-lg: 32px;

// colors
$sky-night: #0B0D17; //RGB (11, 13, 23) -- HSL(230, 35%, 7%).
$ligth-purple: #D0D6F9; // RGB (208, 214, 249) -- HSL(231, 77%, 90%).
$white: #FFFFFF; // RGBA(255, 255, 255) -- HSL(0, 0%, 100%).

// breakpoints
$tabletBreakpoint: 767px;
$desktopBreakpoint: 1024px;

/* *************************************** Common styles *************************************** */
a {
  text-decoration: none;
  color: $white;
  cursor: pointer;
  padding: 0 $spacing-xs;
}

.btn-explore {
  color: $sky-night;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
      background-image: url('./assets/images/background-home-mobile.jpg');
      background-position: center;
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
      @media all and  (min-width: 768px) {
          background-image: url('./assets/images/background-home-tablet.jpg');
          
      }
      @media all and (min-width: 1024px) {
        background-image: url('./assets/images/background-home-desktop.jpg');
       
      }
    }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
