<article class="crew-container">
    <div>
      <h4 class="crew-container__title">
        <span class="span-0">02</span> Meet your crew
      </h4>
      <div class="div-image-reverse">
        <div class="crew-container__information">
            <div class="select-crew">
                <!-- <button
                  *ngFor="let crew of crew"
                  (click)="this.currentCrewMember = this.crew"
                  class="circle first"
                ></button> -->
                <button class="circle first"></button>
                <button class="circle first"></button>
                <button class="circle first"></button>
            </div>
          <h5 class="subtitle">
            <!-- {{ currentCrewMember.role }} -->
            Commander
          </h5>
          <h3 class="main-title">
            <!-- {{ currentCrewMember.name }} -->
            Douglas Hurley
          </h3>
          <p class="paragraph">
            <!-- {{ currentCrewMember.bio }} -->
            Douglas Gerald Hurley is an American engineer, former Marine Corps pilot and former NASA astronaut. He launched into space for the third time as commander of Crew Dragon Demo-2.
          </p>
        </div>
        <!-- <img
          src="{{ currentCrewMember.images }}"
          alt="douglas"
          class="crew__container--douglas"
        /> -->
        <div class="rectangle"></div>    
        <img
            src="../../../assets/images/image-douglas-hurley.webp"
            alt="douglas"
            class="crew-container__image"
        />
      </div>
      <!-- DONDE LO PONGO PARA QUE QUEDE COMO TIENE QUE QUEDAR <div class='rectangle'></div>  -->
    </div>
  </article>