<article class="crew-container">
    <div>
      <h4 class="crew-container__title">
        <span class="span-0">02</span> Meet your crew
      </h4>
      <div class="div-image-reverse">
        <div class="crew-container__information">
            <div class="select-crew">
              @for (crewMember of crew; track $index) {
                 <button
                  (click)="selectCrewMember(crewMember)"
                  class="circle first"
                ></button>
              }
            </div>
          <h5 class="subtitle">{{ currentCrewMember.role}}</h5>
          <h3 class="main-title">{{ currentCrewMember.name}}</h3>
          <p class="paragraph">{{ currentCrewMember.bio}}</p>
        </div>
        <div class="rectangle"></div>
        <img
            src="{{currentCrewMember.imageUrl}}"
            alt="douglas"
            class="crew-container__image"
        />
      </div>
      <!-- DONDE LO PONGO PARA QUE QUEDE COMO TIENE QUE QUEDAR <div class='rectangle'></div>  -->
    </div>
  </article>